
html{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.fixed{position:fixed;width:100%;}

#particles-js{
	width:100%;
	height:100vh;
	background:black;
	justify-content:center;
	align-items:center;
	display:flex;
	
}
.particles-js-canvas-el{
	position:absolute;
}


.overlay {
   
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 1); 
  overflow-x: hidden; 
  transition: 0.5s; 
}


.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}


.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.hamburger:hover{
	cursor:hand;
}
.bar1,.bar2,.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

@font-face {
  font-family: Blade;
  src: url('./blade2.ttf');
}

.bladeFont{
	font-family:Blade;
	color:#1086e8;
	font-size:50vw;
	transform:translate(0px,-50px);
	letter-spacing:10px;
}

.blinking{
	animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(16,134,232,1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(16,134,232,1);
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(16,134,232,1);
  }
}
	
.card1{
justify-content: left;
align-items: center;
border-style: solid;
border-width: 4px;
box-shadow: 4px 5x red;
border-color: white;
color: white;
text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px red;
}

.base{
height: 100%;
width: 100%;

  background-color: black;

	justify-content:left;
	align-items:center;
	display:flex;
	object-fit: cover;
}
	
.night {
  position: absolute;
  
  display: flex;
  
  
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - 41px);
  left: calc(50% - 19px);
  -webkit-animation-delay: 9192ms;
          animation-delay: 9192ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 9192ms;
          animation-delay: 9192ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 72px);
  left: calc(50% - 210px);
  -webkit-animation-delay: 2099ms;
          animation-delay: 2099ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 2099ms;
          animation-delay: 2099ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -49px);
  left: calc(50% - 50px);
  -webkit-animation-delay: 6922ms;
          animation-delay: 6922ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 6922ms;
          animation-delay: 6922ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 197px);
  left: calc(50% - 170px);
  -webkit-animation-delay: 1667ms;
          animation-delay: 1667ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 1667ms;
          animation-delay: 1667ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 57px);
  left: calc(50% - 175px);
  -webkit-animation-delay: 9726ms;
          animation-delay: 9726ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 9726ms;
          animation-delay: 9726ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% - 112px);
  left: calc(50% - 284px);
  -webkit-animation-delay: 6856ms;
          animation-delay: 6856ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 6856ms;
          animation-delay: 6856ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -15px);
  left: calc(50% - 15px);
  -webkit-animation-delay: 4261ms;
          animation-delay: 4261ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 4261ms;
          animation-delay: 4261ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 53px);
  left: calc(50% - 178px);
  -webkit-animation-delay: 3848ms;
          animation-delay: 3848ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 3848ms;
          animation-delay: 3848ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 42px);
  left: calc(50% - 163px);
  -webkit-animation-delay: 2871ms;
          animation-delay: 2871ms;
}

.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 2871ms;
          animation-delay: 2871ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -51px);
  left: calc(50% - 293px);
  -webkit-animation-delay: 6279ms;
          animation-delay: 6279ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 6279ms;
          animation-delay: 6279ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -41px);
  left: calc(50% - 61px);
  -webkit-animation-delay: 4018ms;
          animation-delay: 4018ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 4018ms;
          animation-delay: 4018ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -7px);
  left: calc(50% - 47px);
  -webkit-animation-delay: 5364ms;
          animation-delay: 5364ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 5364ms;
          animation-delay: 5364ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 76px);
  left: calc(50% - 243px);
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 140px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 7189ms;
          animation-delay: 7189ms;
}

.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 7189ms;
          animation-delay: 7189ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 173px);
  left: calc(50% - 281px);
  -webkit-animation-delay: 4325ms;
          animation-delay: 4325ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 4325ms;
          animation-delay: 4325ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 160px);
  left: calc(50% - 124px);
  -webkit-animation-delay: 5568ms;
          animation-delay: 5568ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 5568ms;
          animation-delay: 5568ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -140px);
  left: calc(50% - 229px);
  -webkit-animation-delay: 742ms;
          animation-delay: 742ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 742ms;
          animation-delay: 742ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 69px);
  left: calc(50% - 237px);
  -webkit-animation-delay: 1665ms;
          animation-delay: 1665ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 1665ms;
          animation-delay: 1665ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 113px);
  left: calc(50% - 138px);
  -webkit-animation-delay: 8725ms;
          animation-delay: 8725ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 8725ms;
          animation-delay: 8725ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -171px);
  left: calc(50% - 275px);
  -webkit-animation-delay: 4341ms;
          animation-delay: 4341ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 4341ms;
          animation-delay: 4341ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}





.aboutEEL { 
	font-size: 40px;
	color: white;
	letter-spacing:2px;
	text-shadow:5px 8px 15px #EDEF33; 
	

	
}

@media (min-width: 576px) {
    .aboutEEL { 
	font-size: 44px; 
	color:black;
	letter-spacing:2px;
	text-shadow:5px 8px 15px #EDEF33;
	font-family:Brush Script MT;
	}
}
@media (min-width: 768px) {
    .aboutEEL { 
	font-size: 60px;
	color:black;
	letter-spacing:2px;
	text-shadow:5px 8px 15px #EDEF33;
	font-family:Brush Script MT;
	}
}
@media (min-width: 992px) {
    .aboutEEL { 
	font-size: 70px; 
	color:black;
	letter-spacing:2px;
	text-shadow:5px 8px 15px #EDEF33;
	font-family:Brush Script MT;
	}
}
@media (min-width: 1200px) {
    .aboutEEL { 
	font-size: 70px;
	color:black;
	letter-spacing:2px;
	text-shadow:5px 8px 15px #EDEF33;
	font-family:Brush Script MT;
	}
}


.aboutText{
	color:white;
	font-size:15px
}

@media (min-width: 576px) {
.aboutText{
	color:white;
	font-size:22px
}
}
@media (min-width: 768px) {
.aboutText{
	color:white;
	font-size:30px
}
}
@media (min-width: 992px) {
.aboutText{
	color:white;
	font-size:35px
}
}
@media (min-width: 1200px) {
.aboutText{
	color:white;
	font-size:35px
}
}


.ourHeads{
min-height: 100%;
	height:auto;
<!--background-image:linear-gradient(to right,#B91372, #6B0F1A);-->
color:black;
background-color: black;
	
	width:100%;	
	justify-content:left;
	align-items:center;
	display:flex;


}

@font-face {
  font-family: Afterglow;
  src: url(Afterglow.ttf);
}

@font-face {
  font-family: BladeBrotherhood;
  src: url(BladeBrotherhood.ttf);
}
@font-face {
  font-family: Atlane;
  src: url(Atlane.otf);
}

.ourheadstext { 
	font-size: 60px;
	color:white;
background: transparent;
	letter-spacing:0px;
	text-shadow:5px 8px 15px black; 
}






.ourHeads1{
	height:100%;
	width:100%;	
	justify-content:left;
	align-items:center;

}


.buttons-three{
		transform:translateY(40px);
}

.OurTeam{
font-family:Arial;
font-size:12vh;
text-align:center;
color: #fff;
text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 40px #0ff,
    0 0 90px #0ff;


}


.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}


.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 10px;
    bottom: 70px;
    font-size: 25px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 12px;
    color: #FFF;
    font-size: 16px;
    transition: all linear 0.25s;
	
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
	
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}


h2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.finalYear{
	height:auto;
	width:100%;
}






